$bg-color: #11111a;
$main-font-color: #fff;
$form-font-color: #656b83;
$buttons-bg: #222531;
$chosen-method-bg: #474b5e;
$landing-button-bg: #ffa800;
$plus-minus-bg: #333346;
$plus-minus-color: #d2d2ec;
$error-text-color: #e2786f;
$success-color: #95de73;
$error-color: #e2786f;
