.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;

  img {
    width: calc(17rem + 6vw + 7vh);
    @media screen and (max-width: 600px) {
      width: 66.5vw;
      height: 19vw;
    }
  }
}
