@use "../base" as b;

.success {
  color: b.$success-color;
  padding: 0.6rem;
  margin-top: auto;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  opacity: 0;
  visibility: hidden;

  img {
    height: calc(0.7rem + 0.5vw + 0.5vh);
    width: calc(0.7rem + 0.5vw + 0.5vh);
  }
}

.shown {
  opacity: 1;
  visibility: visible;
}
